.heading {
  text-align: center;
  margin: 40px 0px;
  color: #324d67;
}

.heading h2 {
  font-size: 40px;
  font-weight: 800;
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin: 20px 0;
}
